@page "{id:int}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RideServiceGroup2.Web.Pages.RideModel
@{
    ViewData["Title"] = "Ride";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<article class="productView">
    <img src="~/@Model.Ride.ImgUrl" alt="@Model.Ride.Name" />
    <div>
        <h1>@Model.Ride.Name</h1>
        <p>@Model.Ride.Category.Name</p>
        <hr />
        <p>Status: @Model.Ride.TranslateStatus()</p>
        <p>@Model.Ride.Description</p>
        <p>Antal nedbrud: @Model.Ride.NumberOfShutdowns()</p>
        <p>Dage siden seneste nedbrud: @Model.Ride.DaysSinceLastShutdown()</p>
        <br />
        <button formmethod="post" asp-page-handler="Delete">Slet</button>
        <a asp-page="CreateRide/@Model.Ride.Id" asp-page-handler="Edit">Rediger</a>
    </div>
</article>